<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
        <head>
                {% block head %}
                        <meta charset="utf-8" />
                        <title>{{ page.header.metadata.title}}</title>
                        <meta http-equiv="X-UA-Compatible" content="IE=edge">
                        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <meta name="description" content="{{ page.header.metadata.description }}">
                        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
                        {% block stylesheets %}
                            {% do assets.addCss('theme://css-compiled/style.css') %}
                        {% endblock %}
                        {{ assets.css() }}
                        {% block javascripts %}
                                {% do assets.addJs('jquery', 101) %}
                                {% do assets.addJs('theme://js/jquery.fancybox.min.js') %}
                        {% endblock %}
                        {{ assets.js() }}
                {% endblock head %}
                <!-- Google Tag Manager -->
                <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                                        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                        })(window,document,'script','dataLayer','GTM-NNGZ7TS');</script>
                <!-- End Google Tag Manager -->
        </head>
        <body>
                <!-- Google Tag Manager (noscript) -->
                <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NNGZ7TS"
                                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
                <!-- End Google Tag Manager (noscript) -->
                <nav class="languages">
                        <div class="mobile-nav"> <div></div> <div></div> <div></div> </div>
                        {% include 'partials/langswitcher.html.twig' %}
                </nav>

                {% block content %}
                {% endblock %}

                {% block footer_javascript %}
                        {% do assets.addJs('theme://js/mobile-nav.js') %}
                {% endblock %}
                {{ assets.js() }}
        </body>
</html>