/**
 * Stylesheet Hotel VIU Villars Theme
 * Author: Kyle Mobilia
 */

// Import Base SCSS
@import 'mediaqueries';
@import 'reset';
@import 'fancybox.min';
@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,300,400');

/* VARIABLES */
$gold: #bfa77a;
$light-grey: #e0dfde;

$paddingSection: 1rem;
$totalPaddingSection: $paddingSection*2;

$paddingImageGallery: 1rem;

$padding: 3rem;
$totalPadding: $padding*2;

$gutter: 4vh;
$gutter-section: $gutter*2;

$font-size: 20px;

/*  / VARIABLES */

%wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

%after-bloc {
  left: 50%;
  bottom: $gutter;
  content: '';
  height: $gutter-section;
  width: 1px;
  background-color: white;
  position: absolute;
  @include mq-s {
    display: none;
  }
}

html {
  width: 100%;
  height: 100%;
  position: relative;

  body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-size: $font-size;
    letter-spacing: 1px;
    font-family: 'Barlow', sans-serif;
    font-weight: 100;
    background-color: white;

    @include mq-m {
      font-size: 15px;
    }

    @include  mq-s {
      font-size: 10px;
    }

    h1 {
      font-weight: 200;
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 1.2rem;
      @include  mq-m {
        font-size: 1.7rem;
        line-height: 2.3rem;
      }
      @include  mq-s {
        font-size: 1.7rem;
        line-height: 2.3rem;
      }
    }

    p {
      margin-bottom: 1.2rem;
      line-height: 2rem;

      @include mq-m {
        font-size: 16px;
        line-height: 1.5rem;
      }

      @include  mq-s {
        font-size: 14px;
        line-height: 1.3rem;
      }
    }

    .languages {
      display: flex;
      top: $paddingSection;
      left: $paddingSection;
      z-index: 100;
      width: calc(100% - #{$totalPaddingSection});
      position: absolute;

      @include mq-s {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none; //flex
        position: absolute;
        align-items: center;
        &.open {
          position: fixed;
          background-color: rgba(0,0,0,0.9);
        }
      }

      .mobile-nav {
        width: 40px;
        height: 20px;
        display: none;
        cursor: pointer;
        position: relative;
        margin: 0 auto 0 auto;

        @include mq-s {
          top: 2rem;
          display: block;
          position: absolute;
          left: calc(50% - 20px);
        }


        > div {
          top: 50%;
          left:  0;
          width: 100%;
          height: 1px;
          position: absolute;
          background-color: white;

          &:first-child {
            top: 0;
          }

          &:last-child {
            top: 100%;
          }
        }
      }

      @include mq-s {
        &.open {
          .mobile-nav {
            width: 40px;
            height: 40px;
            > div {
              display: none;
              &:first-child {
                top: 5px;
                display: block;
                transform: rotate(50deg);
              }
              &:last-child {
                top: 5px;
                display: block;
                transform: rotate(-50deg);
              }
            }
          }
        }
      }

      .langswitcher {
        top: $paddingSection;
        right: $paddingSection;
        position: absolute;

        @include mq-s {
          top: initial;
          width: 100%;
          display: none;
          position: relative;
          margin-left: 20px !important;
        }

        > li {
          padding: 0 !important;
          margin: 0 !important;
          border-right: 1px solid white;

          @include mq-s {
            display: block;
            border-right: none;
          }

          > a {
            color: white;
            font-size: 0.8rem;
            padding: 0 6px 0 0px;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 100;
            @include mq-s {
              width: 50%;
              display: block;
              padding: 2rem 0;
              font-size: 1.1rem;
              text-align: center;
              margin: auto;
              border-bottom: 1px solid white;
            }
          }

          &:last-child {
            border-right: none;
            padding-right: 0;

            > a {
              padding: 0px;
              @include mq-s {
                padding: 2rem 0 0 0;
                border-bottom: none;
              }
            }

          }
        }
      }

      @include mq-s {
        &.open {
          .langswitcher {
            display: block;
          }
        }
      }
    }

    .showcase {
      color: white;
      margin: $paddingSection;
      width: calc(100% - #{$totalPaddingSection});
      height: calc(100% - #{$totalPaddingSection});
      min-height: 450px;
      background-attachment: fixed;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      font-size: 1.2rem;
      font-weight: 100;

      &:after {
        @extend %after-bloc;
        @include mq-s {
          display: block;
        }
      }

      > .wrapper {
        @extend %wrapper;
        max-width: 450px;
        text-align: center;
        padding-top: $gutter-section;

        @include mq-s {
          max-width: 250px;
          min-height: 250px;
        }

        > p {
          width: 100%;
          margin-bottom: $gutter-section*2;
          @include mq-s {
            top: 50px;
            margin-bottom: 50px;
          }
        }

        .logo {
          color: white;
          width: 100%;
          font-size: 1.4rem;
          font-weight: 400;
          text-decoration: none;
          text-transform: uppercase;
          opacity: 0;

          &.fade-animation {
            opacity: 1;
            animation: fade-in 1.8s;
          }

          @include mq-s {
            font-size: 1rem;
          }

          > img {
            width: 100%;
            margin-bottom: $gutter;
          }
        }
      }

    }

    .text-images {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      margin: $paddingSection;
      width: calc(100% - #{$totalPaddingSection});
      background-color: $gold;

      &:after {
        @extend %after-bloc;
      }

      > .global-wrapper {

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        max-width: 1350px;
        margin: auto;

        > .wrapper {
          flex: auto;
          display: flex;
          width: calc(50% - #{$totalPadding});
          padding: $padding;
          flex-wrap: wrap;
          opacity: 0;
          align-items: center;

          &:first-child {
            display: block;
          }

          @include mq-s {
            width: calc(100% - 40px);
            &:after {
              display: none;
            }
            &:last-child {
              padding-top: 0;
            }
          }

          > div {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .gallery {
              display: block;
              width: calc(50% - #{$paddingImageGallery/2});

              &:first-child {
                margin-right: $paddingImageGallery/2;
              }

              &:nth-child(2) {
                margin-left: $paddingImageGallery/2;
              }

              &:last-child {
                width: 100%;
                margin-top: $paddingImageGallery;
              }

              .image-gallery {
                width: 100%;
                background-size: cover;
                background-position: center;

                img {
                  width: 100%;
                  display: block;
                }

              }

            }

          }
        }
      }

      @keyframes fade-in {
        from {opacity: 0;}
        to {opacity: 1;}
      }

      &.fade-in-element {
        .wrapper {
          animation: fade-in 1.8s;
          opacity: 1;
        }
      }

    }

    .text-form {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      margin: $paddingSection;
      width: calc(100% - #{$totalPaddingSection});
      background-color: $light-grey;

      &:after {
        @extend %after-bloc;
      }

      > .global-wrapper {

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        max-width: 1350px;
        margin: auto;

        > .wrapper {
          width: calc(50% - #{$totalPadding});
          margin: auto;
          padding: $padding;
          flex-wrap: wrap;
          align-items: center;
          opacity: 0;

          &:last-child {
            @include mq-s {
              display: none;
            }
          }

          @include mq-s {
            width: calc(100% - #{$totalPadding});
          }

          .content {
            width: 100%;
          }

          .form {
            width: 100%;

            .notices {
              padding: 0;
              margin: 0;
              &.green {
                border-left: none;
                background-color: transparent;
              }
              &.red {
                border-left: none;
                background-color: transparent;
              }
            }

            #contact-form {
              display: flex;
              flex-wrap: wrap;
              align-items: right;

              .form-group {
                width: 100%;

                .form-label-wrapper {
                  display: none;
                }

                input {
                  border: none;
                  width: calc(100% - #{$padding});
                  padding: 10px;
                  font-size: 1.1rem;
                  margin-bottom: 1rem;
                  font-family: 'Barlow', sans-serif;
                }

              }

              label {
                display: none;
              }

              button {
                color: white;
                font-size: 1.1rem;
                border: none;
                float: right;
                font-weight: 100 !important;
                font-family: 'Barlow', sans-serif;
                text-transform: uppercase;
                background-color: $gold;
                padding: 0.6rem 1rem;
              }

            }

          }

        }
      }

      @keyframes fade-in {
        from {opacity: 0;}
        to {opacity: 1;}
      }

      &.fade-in-element {
        .wrapper {
          animation: fade-in 1.8s;
          opacity: 1;
        }
      }

    }

  }

}

