<section class="showcase" style="background-image: url('{{ url('theme://images/swiss_mountain.jpg') }}');">
    <div class="wrapper">
        <p>{{ 'LANDING_PAGE.OPEN_SEASON'|t }}</p>
        <a class="logo fade-animation" href="#" title="Logo Hotel VIU Villars">
            <img src="{{ url('theme://images/logo-viu.svg') }}" alt="logo viu">
            <span>Hotel Villars</span>
        </a>
    </div>
</section>