<section class="text-form">
    <div class="global-wrapper">
        <div class="wrapper">
            <div class="content">
                <h1>{{ page.header.title }}</h1>
                {{ page.content }}
            </div>
            <div class="form">
                {% include "forms/form.html.twig" %}
            </div>
        </div>
        <div class="wrapper">
            <!-- EMPTY COL -->
        </div>
    </div>
</section>