<section class="text-images">
    <div class="global-wrapper">
        <div class="wrapper">
            <div>
                <h1>{{ page.header.title }}</h1>
                {{ page.content }}
            </div>
        </div>
        <div class="wrapper">
            <div>
                <a class="gallery" data-fancybox="gallery" href="{{ page.media[page.header.image_1].url }}">
                    <div class="image-gallery" style="background-image: url('{{ page.media[page.header.image_1].url }}')">
                        <img src="{{ url('theme://images/square.png') }}" />
                    </div>
                </a>
                <a class="gallery" data-fancybox="gallery" href="{{ page.media[page.header.image_2].url }}">
                    <div class="image-gallery" style="background-image: url('{{ page.media[page.header.image_2].url }}')">
                        <img src="{{ url('theme://images/square.png') }}" />
                    </div>
                </a>
                <a class="gallery" data-fancybox="gallery" href="{{ page.media[page.header.image_3].url }}">
                    <div class="image-gallery" style="background-image: url('{{ page.media[page.header.image_3].url }}')">
                        <img src="{{ url('theme://images/rectangle.png') }}" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>